<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Sales Records</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <ul>
                    <li><a href="">Features</a></li>
                    <li><a href="">Requirements</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="hero">
            <div class="container">
                <h2>Product Sales</h2>
                <p>This is a web application developed using FastAPI from the scratch.</p>
                <a href="/docs" class="cta-button">Explore Swaggar APIs</a>
            </div>
        </div>
    </header>

    <section id="features">
        <div class="container">
            <h2>Features</h2>
            <div class="feature-item">
                <h3>Data Load using .xlsx file</h3>
                <p>Upload the sales data from .xlsx file.</p>
            </div>
            <div class="feature-item">
                <h3>Sample Data Format</h3>
                <table class="centered-table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Product ID</th>
                            <th>Family</th>
                            <th>Price</th>
                            <th>2024-01</th>
                            <th>2024-02</th>
                            <th>2024-03</th>
                            <th>2024-04</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Blue Candy</td>
                            <td>1111</td>
                            <td>Candy</td>
                            <td>$10.00</td>
                            <td>23</td>
                            <td>44</td>
                            <td>0</td>
                            <td>64</td>
                        </tr>
                        <tr>
                            <td>Red Candy</td>
                            <td>2222</td>
                            <td>Candy</td>
                            <td>$12.50</td>
                            <td>23</td>
                            <td>5</td>
                            <td>23</td>
                            <td>65</td>
                        </tr>
                        <tr>
                            <td>Big Bottle</td>
                            <td>33333</td>
                            <td>Bottle</td>
                            <td>$20.00</td>
                            <td>3444</td>
                            <td>5332</td>
                            <td>65334</td>
                            <td>1221</td>
                        </tr>
                        <tr>
                            <td>Small Bottle</td>
                            <td>44444</td>
                            <td>Bottle</td>
                            <td>$20.00</td>
                            <td>230</td>
                            <td>230</td>
                            <td>231</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Bread</td>
                            <td>5555</td>
                            <td>Bread</td>
                            <td>$49.90</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Assignments.</p>
        </div>
    </footer>
</body>
</html>
